/*Base rules*/
body, form {
  margin: 0;
  padding: 0;
}

/*layout rules*/
#header {
  display: flex;
  justify-content: center;
  margin: 5% 5% 5% 5%;
  font-size: 300%;
  border: solid black;
  text-align: center;
}

#footer {
  display: flex;
  justify-content: center;
  margin: 5% 5% 5% 5%;
  border: solid black;
  text-align: center;
}

/*Module Rules*/
#nav {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  font-size: 110%;
  border: solid black;
  padding: 1% 1% 1% 1%;
  margin: 1% 1% 1% 1%;
}

#nav > * {
  text-align: left;
  min-width: 20%;
  border: solid black;
  margin: 1% 1% 1% 1%;
  padding: .5% .5% .5% .5%;
}

.articlePlaceholder {}

img {
  display: block;
  margin: 1% auto 1% auto;
  max-width: 100%;
}

main > section {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  font-size: 110%;
  border: solid black;
  padding: 1% 1% 1% 1%;
  margin: 1% 1% 1% 1%;
}

@media all and (min-width: 750px) {
  #nav, #nav > * {
    text-align: center;
    flex-direction: row;
  }

/*State Rules*/
